@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body,
#root {
  min-height: 100%;
  
}

body {
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
